html {
    margin: 0;
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background: #282D35;
    font-family: Courier New, Lucida Console;
}

footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 2vh;
    padding-top: 2vh;
    color: white;
}

#header {
    text-align: center;
    margin-top: 10vh;
    color: white;
}

#container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid white;
    min-width: 20px;
    min-height: 20px;
}